.wrapper {
   width: 100%;
}

.layout {
   padding-top: 120px;
   display: grid;
   width: 100%;

   @media (max-width:toEm($sidebarNone)){
      grid-template-columns: 1fr;
      padding-top: 70px;
   }

   @media (max-width:toEm($mobile)){
      padding-top: 60px; 
   }
}

.page {
   overflow-x: hidden;
   max-width: 58%;
   width: 100%;
   left: 42%;
   transform: translateX(-40%);
   position: relative;
   z-index: 0;

   @media (max-width:toEm($sidebarNone)){
      max-width: 100%;
      left: 0;
      transform: none;
   }
}
