.layout {
   display: flex;
   max-width: 1920px;
   width: 100%;

   @media (max-width:toEm($sidebarNone)) {
      display: block;
   }
}

.sidebar {
   width: 210px;
   padding: 94px 16px 16px 16px;
   @extend %flex-column;
   justify-content: space-between;
   position: relative;

   &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: rgb(255, 255, 255, 0.1);
   }

   @media (max-width:toEm($sidebarNone)){
      display: none;
   }

   &__menu {}

   &__menu-item {}

   &__menu-link {
      display: flex;
      align-items: center;
      padding: 8px;
      transition: transform .3s ease-in-out;

      img {
         width: 24px;
         height: 24px;
         transition: transform .1s ease-in-out;
      }

      span {
         margin-left: 10px;
         color: #D2EEED;
         font-size: 14px;
         font-style: normal;
         transition: color .2s ease-in-out;
      }

      @media (any-hover: hover){
         &:hover {
            transform: scale(1.05);

            img {
               transform: scale(1.2);
            }

            span {
               color: #fff;
               font-weight: 500;
            }
         }
      }
   }

   &__lang {
      padding: 9px 17px;
      @extend %flex-center;
      gap: 8px;
      border-radius: 4px;
      border: 1px solid #3B6F6D;
      width: 84px;
      align-self: flex-end;
      transition: border-color .3s ease-in-out;

      img {
         width: 24px;
         height: 18px;
         border-radius: 2px;
         overflow: hidden;
      }

      span {
         color: #3B6F6D;
         font-size: 14px;
         font-weight: 500;
         line-height: 170%;
      }

      @media (any-hover: hover){
         &:hover{
            border-color: #fff;
         }
      }
   }
}

.wrapper {
   width: 100%;
}