<section class="slider">
	<div data-fls-slider class="slider__container swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide slider__slide">
				<div class="slider__content">
					<div class="slider__text">
						<h2 class="slider__title">100 DARMOWYCH SPINÓW ZA INSTALACJĘ APLIKACJI</h2>
						<p class="slider__description">Zainstaluj aplikację i odbierz 100 darmowych spinów po dokonaniu
							dowolnego depozytu!</p>
						<a href="#" class="slider__button">POBIERZ APLIKACJĘ</a>
					</div>
					<div class="slider__image">
						<img fetchpriority="high" src="@img/slider/slider_image_1.png" alt="App Promo 1">
					</div>
				</div>
			</div>

			<div class="swiper-slide slider__slide">
				<div class="slider__content">
					<div class="slider__text">
						<h2 class="slider__title">BONUS ZA KAŻDY DEPOZYT</h2>
						<p class="slider__description">Zwiększamy wartość Twojego depozytu</p>
						<a href="#" class="slider__button">ODBIEZ BONUS</a>
					</div>
					<div class="slider__image"><img fetchpriority="low" src="@img/slider/slider_image_2.png"
							alt="App Promo 2"></div>
				</div>
			</div>

			<div class="swiper-slide slider__slide">
				<div class="slider__content">
					<div class="slider__text">
						<h2 class="slider__title">BONUS POWITALNY MOSTBET</h2>
						<p class="slider__description">Zdobądź 250 darmowych spinów i 125% do depozytu</p>
						<a href="#" class="slider__button">DOWIEDZ SIĘ WIĘCEJ</a>
					</div>
					<div class="slider__image"><img fetchpriority="high" src="@img/slider/slider_image_3.png"
							alt="App Promo 3"></div>
				</div>
			</div>

			<div class="swiper-slide slider__slide">
				<div class="slider__content">
					<div class="slider__text">
						<h2 class="slider__title">WYKORZYSTAJ MAKSIMUM</h2>
						<p class="slider__description">Zbieraj monety i wymieniaj je na prawdziwe pieniądze!</p>
						<a href="#" class="slider__button">DOWIEDZ SIĘ WIĘCEJ</a>
					</div>
					<div class="slider__image"><img src="@img/slider/slider_image_4.png" alt="App Promo 4"></div>
				</div>
			</div>

		</div>
	</div>
</section>