<section class="slider">
	<div data-fls-slider class="slider__container swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide slider__slide">
				<div class="slider__content">
					<div class="slider__text">
						<h2 class="slider__title">100 INGYENES PÖRGETÉS AZ ALKALMAZÁS TELEPÍTÉSÉÉRT</h2>
						<p class="slider__description">Telepítsd az alkalmazást, és szerezd meg a 100 ingyenes pörgetést
							bármilyen befizetés után!</p>
						<a href="#" class="slider__button">ALKALMAZÁS LETÖLTÉSE</a>
					</div>
					<div class="slider__image">
						<img fetchpriority="high" src="@img/slider/slider_image_1.png" alt="App Promo 1">
					</div>
				</div>
			</div>

			<div class="swiper-slide slider__slide">
				<div class="slider__content">
					<div class="slider__text">
						<h2 class="slider__title">BÓNUSZ MINDEN BEFIZETÉSRE</h2>
						<p class="slider__description">Megemeljük az összeget</p>
						<a href="#" class="slider__button">BÓNUSZ IGÉNYLÉSE</a>
					</div>
					<div class="slider__image"><img fetchpriority="low" src="@img/slider/slider_image_2.png"
							alt="App Promo 2"></div>
				</div>
			</div>

			<div class="swiper-slide slider__slide">
				<div class="slider__content">
					<div class="slider__text">
						<h2 class="slider__title">MOSTBET ÜDVÖZLŐ BÓNUSZ</h2>
						<p class="slider__description">Szerezz 250 ingyenes pörgetést és 125%-ot a befizetésed után</p>
						<a href="#" class="slider__button">TOVÁBBI INFORMÁCIÓ</a>
					</div>
					<div class="slider__image"><img fetchpriority="high" src="@img/slider/slider_image_3.png"
							alt="App Promo 3"></div>
				</div>
			</div>

			<div class="swiper-slide slider__slide">
				<div class="slider__content">
					<div class="slider__text">
						<h2 class="slider__title">HOZD KI A MAXIMUMOT</h2>
						<p class="slider__description">Gyűjts érméket, és váltsd be őket valódi pénzre!</p>
						<a href="#" class="slider__button">TUDJ MEG TÖBBET</a>
					</div>
					<div class="slider__image"><img src="@img/slider/slider_image_4.png" alt="App Promo 4"></div>
				</div>
			</div>

		</div>
	</div>
</section>