<header data-fls-header class="header">
	<div class="header__container">
		<div class="header__block">
			<a href="#" class="header__download">
				<span class="header__download-label">СКАЧАТЬ:</span>
				<div class="header__download-icons">
					<i class="header__icon header__icon--android"></i>
					<i class="header__icon header__icon--apple"></i>
				</div>
			</a>

			<a href="#" class="header__check-button">
				<img src="@img/icons/check.svg" alt="Проверка">
			</a>

			<div class="header__settings">
				<a href="#" class="header__settings-button">
					<img src="@img/icons/settings.svg" alt="Настройки">
					<span>ДЕСЯТИЧНЫЙ</span>
				</a>
				<span class="header__clock">17:21:22</span>
				<a class="header__lang" href="#">
					<img src="@img/lang/ru_flag.svg" alt="Язык">
					<span>RU</span>
				</a>
			</div>
		</div>

		<div class="header__actions">
			<a href="#" class="header__money-btn">FREE MONEY</a>
			<a href="#" class="header__offer-btn">АКЦИИ</a>
		</div>

		<div class="header__auth">
			<a href="#" class="header__register">РЕГИСТРАЦИЯ</a>
			<a href="#" class="header__login">ВХОД</a>
		</div>

		<button class="header__menu-button" id="menuToggleBtn" aria-label="Меню">
			<span class="header__menu-icon"></span>
		</button>

		<nav class="header__nav">
			<a href="index.html"><img src="@img/logo.png" alt="Mostbet" class="header__logo"></a>
			<ul class="header__menu">
				<li class="header__menu-item"><a href="#">ЛИНИЯ</a></li>
				<li class="header__menu-item"><a href="#">LIVE</a></li>
				<li class="header__menu-item"><a href="#">КАЗИНО</a></li>
				<li class="header__menu-item"><a href="#">LIVE-КАЗИНО</a></li>
				<li class="header__menu-item header__menu-item--highlight">
					<a href="#"><img src="@img/aviator.svg" alt="Aviator"></a>
				</li>
				<li class="header__menu-item header__menu-item--bonus">
					<a href="#">
						<img src="@img/icons/cart.svg" alt="Корзина">
						<span>BONUS BUY</span>
					</a>
				</li>
				<li class="header__menu-item"><a href="#">КИБЕРСПОРТ</a></li>
				<li class="header__menu-item"><a href="#">ЕЩЁ...</a></li>
			</ul>
		</nav>
	</div>
</header>

<div class="overlay-menu" id="overlayMenu">
	<div class="overlay-menu__content">
		<ul class="overlay-menu__list">
			<li class="overlay-menu__item overlay-menu__item--active"><a href="#">MOSTBET</a></li>
			<li class="overlay-menu__item"><a href="#">РЕГИСТРАЦИЯ И ВХОД</a></li>
			<li class="overlay-menu__item"><a href="#">МОБИЛЬНОЕ ПРИЛОЖЕНИЕ – MOSTBET APP</a></li>
			<li class="overlay-menu__item"><a href="#">БУКМЕКЕРСКАЯ КОМПАНИЯ</a></li>
			<li class="overlay-menu__item"><a href="#">СПОРТИВНЫЕ СТАВКИ</a></li>
			<li class="overlay-menu__item"><a href="#">ИГРЫ КАЗИНО MOSTBET</a></li>
			<li class="overlay-menu__item"><a href="#">БОНУСЫ В КАЗИНО MOSTBET (RU)</a></li>
			<li class="overlay-menu__item"><a href="#">О НАС</a></li>
		</ul>
		<button class="overlay-menu__close" id="menuCloseBtn" aria-label="Закрыть">✕</button>
	</div>
</div>