.header {
	background-color: $darkBlue;
	padding: 10px 0;
	width: 100%;
	position: fixed;
	z-index: 1;

	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		@media (max-width:toEm($sidebarNone)){
			flex-direction: row-reverse;
			flex-wrap: nowrap;
		}
	}

	&__block {
		@extend %flex-center;
		gap: 10px;
	}
	
	&__download,
	&__check-button,
	&__settings {
		padding: 10px;
		border-radius: 20px;
		background-color: #11457E;
		font-weight: 500;
	}

	&__download {
		display: flex;
		align-items: center;
		color: $mainColor;

		&-label {
			margin-right: 5px;
		}

		&-icons {
			display: flex;
			gap: 5px;
		}

		.header__icon {
			width: 20px;
			height: 20px;
			background-size: cover;

			&--android {
				background-image: url('../../../assets/img/icons/android.svg');
			}

			&--apple {
				background-image: url('../../../assets/img/icons/apple.svg');
			}
		}
	}

	&__check-button {

	}

	&__settings {
		display: flex;
		align-items: center;
		gap: 10px;
		color: $mainColor;

		&-button {
			color: $mainColor;
			@extend %flex-center;
			gap: 10px;
		}
	}

	&__clock,
	&__lang {

	}

	&__lang {
		@extend %flex-center;
		gap: 10px;
	}

	&__actions {
		display: flex;
		gap: 10px;

		.header__money-btn {
			background-color: $greenColor;
			color: $blueColor;
			padding: 5px 15px;
			border-radius: 20px;
			border: none;
		}

		.header__offer-btn {
			background-color: $lightBlue;
			color: $mainColor;
			padding: 5px 15px;
			border-radius: 20px;
			border: none;
		}
	}

	&__auth {
		display: flex;
		gap: 10px;

		.header__register {
			background-color: $accentColor;
			color: $mainColor;
			padding: 10px 20px;
			border-radius: 25px;
			border: none;

			@media (max-width:toEm($mobile)){
				font-size: 12px;
				padding: 7px;
				font-weight: 500;
				line-height: 120%;
			}
		}

		.header__login {
			background-color: $lightBlue;
			color: $mainColor;
			padding: 10px 20px;
			border-radius: 25px;
			border: none;

			@media (max-width:toEm($mobile)){
				font-size: 10px;
				padding: 7px;
				font-weight: 500;
				line-height: 120%;
			}
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		gap: 50px;
		margin-top: 10px;

		@media (max-width:toEm($sidebarNone)){
			margin-top: 0;
		}

		.header__logo {
			max-width: 236px;
			width: 100%;

			@media (max-width:toEm($mobile)){
				max-width: 90px; 
			}
		}

		.header__menu {
			display: flex;
			gap: 15px;
			list-style: none;
			padding: 0;
			margin: 0;

			&-item {
				@extend %flex-center;
				color: $mainColor;
				cursor: pointer;
				font-weight: 500;
				transition: color .3s ease-in-out;

				&--highlight {
					font-family: 'Cursive', sans-serif;
					color: #ff3366;
				}

				&--bonus {
					border: 2px solid #FFB801;
					border-radius: 25px;
					padding: 5px 15px;
					@extend %flex-center;
					gap: 10px;
				}

				@media (any-hover: hover){
					&:hover{
						color: #FFB801;
					}
				}
			}
		}
	}
}

@media (max-width:toEm($sidebarNone)){
	.header__block,
	.header__actions,
	.header__menu {
		display: none !important;
	}
}

// Responsive
@media (max-width: toEm($mobile)) {
	
}


// Змінні
$overlayBg: rgba(0, 0, 0, 0.9);
$white: #fff;
$activeColor: #4a90e2;

.header__menu-button {
	background: none;
	border: none;
	width: 40px;
	height: 40px;
	position: relative;
	cursor: pointer;
	@extend %flex-center;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 50%;

	@media (max-width:toEm($sidebarNone)){
		order: -1;
	}

	@media (max-width:toEm($mobile)){
		border-color: transparent;
		width: 22px;
	}

	.header__menu-icon {
		width: 22px;
		height: 1.5px;
		background: $white;
		display: block;
		position: relative;

		&::before,
		&::after {
			content: "";
			width: 22px;
			height: 1.5px;
			background: $white;
			position: absolute;
			left: 0;
		}

		&::before {
			top: -7px;
		}

		&::after {
			top: 7px;
		}
	}
}


.overlay-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: $overlayBg;
	display: none;
	z-index: 1000;
	justify-content: center;
	align-items: center;
	padding: 20px;

	&__content {
		text-align: center;
		color: $white;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		@extend %flex-column;
		align-items: center;
	}

	&__item {
		font-size: 22px;
		padding: 10px 0;
		margin: 15px 0;
		cursor: pointer;
		font-weight: bold;
		text-transform: uppercase;

		&--active {
			border-bottom: 2px solid $activeColor;
			padding-bottom: 3px;
			max-width: max-content;
		}
	}

	&__close {
		position: absolute;
		top: 18px;
		right: 26px;
		background: transparent;
		color: $white;
		font-size: 24px;
		border: none;
		cursor: pointer;
	}
}