<header data-fls-header class="header">
	<div class="header__container">
		<div class="header__body">
			<div class="header__left">
				<a class="header__logo" href="index.html">
					<img src="@img/logo.png" alt="Logo">
				</a>
				<div class="header__menu">
					<ul class="header__menu-list">
						<li class="header__menu-item">
							<a class="header__menu-link" href="/out/1win">
								<img src="@img/menu/header/icon-1.svg" alt="Menu icon">
								<span>Promosyonlar</span>
							</a>
						</li>
						<li class="header__menu-item">
							<a class="header__menu-link" href="/out/1win">
								<img src="@img/menu/header/icon-2.svg" alt="Menu icon">
								<span>Turnuvalar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="header__right">
				<div class="header__text">Kayıt ol ve ilk yatırımına bonus kazan</div>
				<div class="header__buttons">
					<a class="header__button header__button--red" href="/out/1win">Üye ol</a>
					<a class="header__button header__button--black" href="/out/1win">Giriş yap</a>
				</div>
			</div>
		</div>
	</div>
</header>