.header {
	width: 100%;
	min-height: 74px;
	display: flex;
	align-items: center;
	color: #D2EEED;
	z-index: 999;
	background: linear-gradient(0deg, #00100E 0%, #00100E) 100%;

	@media (max-width:toEm($sidebarNone)) {
		min-height: 46px;
		position: fixed;
	}

	&__container {
		width: 100%;
	}

	&__body {
		@extend %flex-sb;
		gap: 20px;
	}

	&__left,
	&__right,
	&__menu-list {
		@extend %flex-sb;
	}

	&__left {}

	&__logo {
		max-width: 100px;
		width: 100%;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__menu {
		margin-left:  10px;

		@media (max-width:toEm($sidebarNone)) {
			display: none;
		}
	}

	&__menu-list {}

	&__menu-item {
		margin-inline: 16px;
	}

	&__menu-link {
		@extend %flex-center;

		span {
			font-size: 14px;
			margin-left: 8px;
		}

		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.05);

				img {
					transform: scale(1.2);
				}

				span {
					color: #fff;
					font-weight: 500;
				}
			}
		}
	}

	&__right {}

	&__text {
		font-weight: 500;

		@media (max-width:toEm($mobile)){
			display: none; 
		}
	}

	&__buttons {
		@extend %flex-center;
		margin-left: 24px;
		gap: 8px;

		@media (max-width:toEm($mobileSmall)){
			margin-left: 0;
		}
	}

	&__button {
		@extend %button;

		@media (max-width:toEm($sidebarNone)) {
			font-size: 14px;
			line-height: 120%;
			padding: 7px 16px;
		}

		&--red {
			@extend %buttonColorRed;
		}

		&--black {
			@extend %buttonColorBlack;
		}
	}
}