<header data-fls-header class="header">
	<div class="header__container">
		<div class="header__block">
			<a href="#" class="header__download">
				<span class="header__download-label">LETÖLTÉS:</span>
				<div class="header__download-icons">
					<i class="header__icon header__icon--android"></i>
					<i class="header__icon header__icon--apple"></i>
				</div>
			</a>

			<a href="#" class="header__check-button">
				<img src="@img/icons/check.svg" alt="Ellenőrzés">
			</a>

			<div class="header__settings">
				<a href="#" class="header__settings-button">
					<img src="@img/icons/settings.svg" alt="Beállítások">
					<span>TIZEDES</span>
				</a>
				<span class="header__clock">17:21:22</span>
				<a class="header__lang" href="#">
					<img src="@img/lang/hu_flag.svg" alt="Nyelv">
					<span>HU</span>
				</a>
			</div>
		</div>

		<div class="header__actions">
			<a href="#" class="header__money-btn">FREE MONEY</a>
			<a href="#" class="header__offer-btn">PROMÓCIÓK</a>
		</div>

		<div class="header__auth">
			<a href="#" class="header__register">REGISZTRÁCIÓ</a>
			<a href="#" class="header__login">BEJELENTKEZÉS</a>
		</div>

		<button class="header__menu-button" id="menuToggleBtn" aria-label="Menü">
			<span class="header__menu-icon"></span>
		</button>

		<nav class="header__nav">
			<a href="index.html"><img src="@img/logo.png" alt="Mostbet" class="header__logo"></a>
			<ul class="header__menu">
				<li class="header__menu-item"><a href="#">SPORTLISTA</a></li>
				<li class="header__menu-item"><a href="#">ÉLŐ</a></li>
				<li class="header__menu-item"><a href="#">KASZINÓ</a></li>
				<li class="header__menu-item"><a href="#">ÉLŐ KASZINÓ</a></li>
				<li class="header__menu-item header__menu-item--highlight">
					<a href="#"><img src="@img/aviator.svg" alt="Aviator"></a>
				</li>
				<li class="header__menu-item header__menu-item--bonus">
					<a href="#">
						<img src="@img/icons/cart.svg" alt="Kosár">
						<span>BONUS BUY</span>
					</a>
				</li>
				<li class="header__menu-item"><a href="#">E-SPORTOK</a></li>
				<li class="header__menu-item"><a href="#">TÖBB...</a></li>
			</ul>
		</nav>
	</div>
</header>

<div class="overlay-menu" id="overlayMenu">
	<div class="overlay-menu__content">
		<ul class="overlay-menu__list">
			<li class="overlay-menu__item overlay-menu__item--active"><a href="#">MOSTBET</a></li>
			<li class="overlay-menu__item"><a href="#">REGISZTRÁCIÓ ÉS BEJELENTKEZÉS</a></li>
			<li class="overlay-menu__item"><a href="#">MOBILALKALMAZÁS – MOSTBET APP</a></li>
			<li class="overlay-menu__item"><a href="#">FOGADÁSI TÁRSASÁG</a></li>
			<li class="overlay-menu__item"><a href="#">SPORTFOGADÁSOK</a></li>
			<li class="overlay-menu__item"><a href="#">MOSTBET KASZINÓ JÁTÉKOK</a></li>
			<li class="overlay-menu__item"><a href="#">BONUSZOK A MOSTBET KASZINÓBAN (HU)</a></li>
			<li class="overlay-menu__item"><a href="#">RÓLUNK</a></li>
		</ul>
		<button class="overlay-menu__close" id="menuCloseBtn" aria-label="Bezárás">✕</button>
	</div>
</div>