<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="page page--home">
   <section class="hero">
      <div class="hero__container">
         <h1 class="hero__title">Pinco Casino</h1>
         <div class="hero__body">
            <div class="hero__block">
               <div class="hero__wrap">
                  <div class="hero__block-text">
                     <span class="bold">SPOR</span>
                     <span class="regular">BONUS</span>
                  </div>
                  <p class="hero__text">kadar</p>
                  <div class="hero__percent">%160</div>
                  <a class="hero__button" href="/out/1win">AL VE BAHİS YAP</a>
               </div>
            </div>

            <div class="hero__block">
               <div class="hero__wrap">
                  <div class="hero__block-text">
                     <span class="bold">CASINO</span>
                     <span class="regular">BONUS</span>
                  </div>
                  <p class="hero__text"></p>
                  <div class="hero__percent">%150</div>
                  <a class="hero__button" href="/out/1win">AL VE OYNA</a>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="sport">
      <div class="sport__container">
         <div class="sport__wrap-text">
            <h2 class="sport__title">SPOR</h2>
            <p class="sport__sub-title">Tüm üst düzey etkinlikler bir arada</p>
         </div>
         <div class="sport__body">
            <div class="sport__block">
               <div class="sport__image">
                  <img src="@img/sport/bg.png" alt="Image background">
               </div>
               <h3 class="sport__bonus">50.000’DEN FAZLA POPÜLER ETKINLIK</h3>
               <span class="sport__text">AVANTAJLI ORANLAR</span>
            </div>
            <a class="sport__button" href="/out/1win">Spora geç</a>
         </div>
      </div>
   </section>

   <section class="games">
      <div class="games__container">
         <div class="games__wrap-text">
            <h4 class="games__title">CASİNO</h4>
            <p class="games__sub-title">5000’den fazla en iyi slot</p>
         </div>
         <div class="games__body">
            <div class="games__buttons">
               <a class="games__link" href="/out/1win">Crash</a>
               <a class="games__link" href="/out/1win">Bonus</a>
               <a class="games__link" href="/out/1win">Klasik</a>
               <a class="games__link" href="/out/1win">Megaways</a>
            </div>
            <a class="games__sort-btn" href="/out/1win">Casinoya geç</a>
            <div class="games__net">
               <a class="games__block" href="/out/1win">
                  <img src="@img/games/games-1.jpg" alt="Games">
               </a>
               <a class="games__block" href="/out/1win">
                  <img src="@img/games/games-2.jpg" alt="Games">
               </a>
               <a class="games__block" href="/out/1win">
                  <img src="@img/games/games-3.jpg" alt="Games">
               </a>
               <a class="games__block" href="/out/1win">
                  <img src="@img/games/games-4.jpg" alt="Games">
               </a>
               <a class="games__block" href="/out/1win">
                  <img src="@img/games/games-5.jpg" alt="Games">
               </a>
               <a class="games__block" href="/out/1win">
                  <img src="@img/games/games-6.jpg" alt="Games">
               </a>
               <a class="games__block" href="/out/1win">
                  <img src="@img/games/games-7.jpg" alt="Games">
               </a>
               <a class="games__block" href="/out/1win">
                  <img src="@img/games/games-8.jpg" alt="Games">
               </a>
               <a class="games__block" href="/out/1win">
                  <img src="@img/games/games-9.jpg" alt="Games">
               </a>
               <a class="games__block" href="/out/1win">
                  <img src="@img/games/games-10.jpg" alt="Games">
               </a>
               <a class="games__block" href="/out/1win">
                  <img src="@img/games/games-11.jpg" alt="Games">
               </a>
               <a class="games__block" href="/out/1win">
                  <img src="@img/games/games-12.jpg" alt="Games">
               </a>
            </div>
         </div>
      </div>
   </section>

   <section class="category">
      <div class="category__container">
         <div class="category__wrap-text">
            <h4 class="category__title">OYUN KATEGORİLERİ</h4>
            <p class="category__sub-title">En popüler</p>
         </div>
         <div class="category__body">
            <a class="category__link" href="/out/1win">
               <div class="category__image">
                  <img src="@img/category/image-1.png" alt="Image category">
               </div>
               <span>CANLI CASİNO</span>
            </a>
            <a class="category__link" href="/out/1win">
               <div class="category__image">
                  <img src="@img/category/image-2.png" alt="Image category">
               </div>
               <span>CRASH OYUNLARI</span>
            </a>
            <a class="category__link" href="/out/1win">
               <div class="category__image">
                  <img src="@img/category/image-3.png" alt="Image category">
               </div>
               <span>V-SPORT</span>
            </a>
            <a class="category__link" href="/out/1win">
               <div class="category__image">
                  <img src="@img/category/image-4.png" alt="Image category">
               </div>
               <span>ESPOR</span>
            </a>
         </div>
         <div class="category__text">
            Pinco Casino Türkiye Resmi Web Sitesi
         </div>
      </div>
   </section>

   <section class="platform">
      <div class="platform__container">
         <div class="platform__wrap-text">
            <h4 class="platform__title">TÜM PLATFORMLARDAYIZ</h4>
            <p class="platform__sub-title">Web ve mobil uygulamalar</p>
         </div>
         <div class="platform__body">
            <div class="platform__image">
               <img src="@img/platform/bg.png" alt="Platform background">
            </div>
            <div class="platform__wrap">
               <div class="platform__qr">
                  <img src="@img/platform/qr.png" alt="QR">
               </div>
               <div class="footer__buttons">
                  <a href="/out/1win" class="footer__link">
                     <img src="@img/footer-icon/apple.svg" alt="Apple">
                     <div class="footer__link-wrap">
                        <span>App Store’da</span>
                        <span class="bold">App Store</span>
                     </div>
                  </a>
                  <a href="/out/1win" class="footer__link">
                     <img src="@img/footer-icon/android.svg" alt="Android">
                     <div class="footer__link-wrap">
                        <span>Android için</span>
                        <span class="bold">Android</span>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>