<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">


<main class="page page--home">
   <include src="@components/layout/slider/slider.html" locals='{}'></include>
    
   <div class="showcase">
      <div class="showcase__container">
         <div class="showcase__body">
            <div class="rightbar__section">
               <div class="rightbar__section-header">
                  <span>KASYN0 <span class="rightbar__count">15359</span></span>
                  <a href="#" class="rightbar__link">Wszystkie »</a>
               </div>
               <div class="rightbar__games">
                  <a href="#"><img src="@img/casino/burning-wins.webp" alt="Burning Wins" class="rightbar__game"></a>
                  <a href="#"><img src="@img/casino/magic-apple.webp" alt="Magic Apple" class="rightbar__game"></a>
                  <a href="#"><img src="@img/casino/9-coins.webp" alt="9 Coins" class="rightbar__game"></a>
                  <a href="#"><img src="@img/casino/coin-strike.webp" alt="Coin Strike" class="rightbar__game"></a>
                  <a href="#"><img src="@img/casino/wild27.webp" alt="Wild27" class="rightbar__game"></a>
                  <a href="#"><img src="@img/casino/25-coins.webp" alt="25 Coins" class="rightbar__game"></a>
               </div>
            </div>
            
            <div class="rightbar__section rightbar__section--live">
               <div class="rightbar__section-header">
                  <span>KASYNO NA ŻYWO <span class="rightbar__count">943</span></span>
                  <a href="#" class="rightbar__link">Wszystkie »</a>
               </div>
               <div class="rightbar__games">
                  <a href="#"><img src="@img/live-casino/dragon-tiger.webp" alt="Dragon Tiger" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/teenpatti.webp" alt="Teenpatti" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/image-1.webp" alt="Game" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/image-2.webp" alt="Game" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/image-3.webp" alt="Game" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/image-4.webp" alt="Game" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/image-5.webp" alt="Game" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/image-6.webp" alt="Game" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/image-7.jpg" alt="Game" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/image-8.webp" alt="Game" class="rightbar__game"></a>
               </div>
               </div>
         </div>
      </div>
   </div>

   <section class="content">
      <div class="content__container">
         <div class="content__body">
            <h1>Title h1</h1>
            <h2>Title h2</h2>
            <h3>Title h3</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem voluptatibus culpa, perferendis unde quas commodi necessitatibus beatae porro, numquam placeat mollitia. Voluptatem quo iure molestiae suscipit eveniet quos vero recusandae.</p>

            <div class="content__image">
               <!-- <img src="@img/content/image-3.png" alt="Content image"> -->
            </div>
         </div>
         <div class="content__body">
            <h2>Title h2</h2>
            <h3>Title h3</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem voluptatibus culpa, perferendis unde quas
               commodi necessitatibus beatae porro, numquam placeat mollitia. Voluptatem quo iure molestiae suscipit eveniet quos
               vero recusandae.
            </p>
            <ul class="content__list number">
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
            <ul class="content__list check">
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
         </div>
         <div class="content__body line">
            <h2>Title h2</h2>
            <h3>Title h3</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem voluptatibus culpa, perferendis unde quas
               commodi necessitatibus beatae porro, numquam placeat mollitia. Voluptatem quo iure molestiae suscipit eveniet quos
               vero recusandae.
            </p>
         </div>
      </div>
   </section>

   <section class="faq">
      <div class="faq__container">
         <h2 class="faq__title">FAQ</h2>
         <div class="faq__list">
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Jak założyć konto na Mostbet?
               </button>
               <div class="faq__answer">
                  Założenie konta na Mostbet jest łatwe. Wejdź na stronę Mostbet lub pobierz aplikację, kliknij
                  „ZAREJESTRUJ SIĘ” i postępuj zgodnie z instrukcjami. Będziesz musiał podać kilka podstawowych informacji
                  i utworzyć bezpieczne hasło.
               </div>
            </div>
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Czy Mostbet jest legalny w Polsce?
               </button>
               <div class="faq__answer">
                  Tak, Mostbet jest legalny w Polsce. Platforma działa na podstawie ważnej międzynarodowej licencji
                  hazardowej z Curaçao i przestrzega wszystkich obowiązujących przepisów, oferując bezpieczne środowisko
                  gry dla polskich graczy.
               </div>
            </div>
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Czy mogę grać w gry Mostbet na urządzeniu mobilnym?
               </button>
               <div class="faq__answer">
                  Tak, Mostbet jest w pełni zoptymalizowany dla urządzeń mobilnych. Możesz korzystać z kasyna i zakładów
                  sportowych za pomocą aplikacji Mostbet na iOS i Androida lub bezpośrednio przez wersję mobilną strony.
               </div>
            </div>
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Jakie gry mogę grać na Mostbet?
               </button>
               <div class="faq__answer">
                  Mostbet oferuje szeroki wybór gier, w tym automaty, ruletkę, blackjacka, pokera i gry w kasynie na żywo.
                  Możesz także obstawiać wydarzenia sportowe takie jak piłka nożna, koszykówka, hokej na lodzie, krykiet i
                  e-sporty.
               </div>
            </div>
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Jak mogę wpłacić pieniądze na moje konto Mostbet?
               </button>
               <div class="faq__answer">
                  Mostbet obsługuje różne metody płatności, w tym karty płatnicze (VISA, Mastercard), portfele
                  elektroniczne, Amazon Pay, Google Pay, Webmoney, Perfect Money, przelewy bankowe oraz kryptowaluty.
                  Wybierz najdogodniejszą dla siebie opcję.
               </div>
            </div>
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Jak mogę wypłacić moje wygrane z Mostbet?
               </button>
               <div class="faq__answer">
                  Wypłata wygranych jest prosta. Przejdź do sekcji „Wypłata” w swoim koncie, wybierz preferowaną metodę
                  płatności i podaj kwotę. Czas realizacji zależy od wybranej metody.
               </div>
            </div>
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Jakie bonusy i promocje oferuje Mostbet?
               </button>
               <div class="faq__answer">
                  Mostbet oferuje szeroką gamę bonusów i promocji, w tym bonusy powitalne dla nowych graczy, bonusy za
                  depozyt, darmowe spiny oraz specjalne oferty na zakłady sportowe. Sprawdź sekcję „Promocje” na stronie,
                  aby zobaczyć najnowsze oferty.
               </div>
            </div>
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Jak mogę skontaktować się z obsługą klienta Mostbet w Polsce?
               </button>
               <div class="faq__answer">
                  Mostbet oferuje obsługę klienta 24/7 przez czat na żywo (w prawym dolnym rogu ekranu), e-mail, telefon
                  lub przez aplikację Telegram. Dane kontaktowe znajdziesz w sekcji „Pomoc” na stronie. Zespół jest zawsze
                  gotów pomóc w przypadku jakichkolwiek pytań lub problemów.
               </div>
            </div>
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Czy moje dane osobowe są bezpieczne na Mostbet?
               </button>
               <div class="faq__answer">
                  Tak, Mostbet Casino poważnie traktuje ochronę danych osobowych. Platforma wykorzystuje zaawansowaną
                  technologię szyfrowania w celu ochrony danych i zapewnienia bezpieczeństwa wszystkich transakcji.
               </div>
            </div>
   
         </div>
      </div>
   </section>         

   <include src="@components/layout/footer/footer.html" locals='{}'></include>
</main>