<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">


<main class="page page--home">
   <include src="@components/layout/slider/slider.html" locals='{}'></include>
    
   <div class="showcase">
      <div class="showcase__container">
         <div class="showcase__body">
            <div class="rightbar__section">
               <div class="rightbar__section-header">
                  <span>КАЗИНО <span class="rightbar__count">15359</span></span>
                  <a href="#" class="rightbar__link">Все »</a>
               </div>
               <div class="rightbar__games">
                  <a href="#"><img src="@img/casino/burning-wins.webp" alt="Burning Wins" class="rightbar__game"></a>
                  <a href="#"><img src="@img/casino/magic-apple.webp" alt="Magic Apple" class="rightbar__game"></a>
                  <a href="#"><img src="@img/casino/9-coins.webp" alt="9 Coins" class="rightbar__game"></a>
                  <a href="#"><img src="@img/casino/coin-strike.webp" alt="Coin Strike" class="rightbar__game"></a>
                  <a href="#"><img src="@img/casino/wild27.webp" alt="Wild27" class="rightbar__game"></a>
                  <a href="#"><img src="@img/casino/25-coins.webp" alt="25 Coins" class="rightbar__game"></a>
               </div>
            </div>
            
            <div class="rightbar__section rightbar__section--live">
               <div class="rightbar__section-header">
                  <span>LIVE-КАЗИНО <span class="rightbar__count">943</span></span>
                  <a href="#" class="rightbar__link">Все »</a>
               </div>
               <div class="rightbar__games">
                  <a href="#"><img src="@img/live-casino/dragon-tiger.webp" alt="Dragon Tiger" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/teenpatti.webp" alt="Teenpatti" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/image-1.webp" alt="Game" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/image-2.webp" alt="Game" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/image-3.webp" alt="Game" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/image-4.webp" alt="Game" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/image-5.webp" alt="Game" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/image-6.webp" alt="Game" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/image-7.jpg" alt="Game" class="rightbar__game"></a>
                  <a href="#"><img src="@img/live-casino/image-8.webp" alt="Game" class="rightbar__game"></a>
               </div>
               </div>
         </div>
      </div>
   </div>

   <section class="content">
      <div class="content__container">
         <div class="content__body">
            <h1>Title h1</h1>
            <h2>Title h2</h2>
            <h3>Title h3</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem voluptatibus culpa, perferendis unde quas commodi necessitatibus beatae porro, numquam placeat mollitia. Voluptatem quo iure molestiae suscipit eveniet quos vero recusandae.</p>

            <div class="content__image">
               <!-- <img src="@img/content/image-3.png" alt="Content image"> -->
            </div>
         </div>
         <div class="content__body">
            <h2>Title h2</h2>
            <h3>Title h3</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem voluptatibus culpa, perferendis unde quas
               commodi necessitatibus beatae porro, numquam placeat mollitia. Voluptatem quo iure molestiae suscipit eveniet quos
               vero recusandae.
            </p>
            <ul class="content__list number">
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
            <ul class="content__list check">
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
         </div>
         <div class="content__body line">
            <h2>Title h2</h2>
            <h3>Title h3</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem voluptatibus culpa, perferendis unde quas
               commodi necessitatibus beatae porro, numquam placeat mollitia. Voluptatem quo iure molestiae suscipit eveniet quos
               vero recusandae.
            </p>
         </div>
      </div>
   </section>

   <section class="faq">
      <div class="faq__container">
         <h2 class="faq__title">FAQ</h2>
         <div class="faq__list">
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Как создать аккаунт на Mostbet?
               </button>
               <div class="faq__answer">
                  Создать аккаунт на Mostbet просто. Перейдите на сайт Mostbet или скачайте приложение, нажмите
                  «ЗАРЕГИСТРИРОВАТЬСЯ» и следуйте инструкциям. Вам нужно будет ввести основную информацию и придумать
                  надёжный пароль.
               </div>
            </div>
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Является ли Mostbet легальным в России?
               </button>
               <div class="faq__answer">
                  Да, Mostbet легален в России. Платформа работает по действующей международной лицензии на азартные игры,
                  выданной на Кюрасао, и соблюдает все соответствующие нормы, обеспечивая безопасную игровую среду для пользователей.
               </div>
            </div>
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Могу ли я играть в игры Mostbet на мобильном устройстве?
               </button>
               <div class="faq__answer">
                  Да, Mostbet полностью оптимизирован для мобильных устройств. Вы можете получить доступ к казино и ставкам
                  через приложение Mostbet на iOS и Android или через мобильную версию сайта.
               </div>
            </div>
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  В какие игры я могу играть на Mostbet?
               </button>
               <div class="faq__answer">
                  Mostbet предлагает широкий выбор игр, включая игровые автоматы, рулетку, блэкджек, покер и игры с живыми
                  дилерами. Также вы можете делать ставки на спортивные события, такие как футбол, баскетбол, хоккей,
                  крикет и киберспорт.
               </div>
            </div>
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Как пополнить счёт в Mostbet?
               </button>
               <div class="faq__answer">
                  Mostbet поддерживает различные методы оплаты, включая банковские карты (VISA, Mastercard), электронные
                  кошельки, Amazon Pay, Google Pay, Webmoney, Perfect Money, банковские переводы и криптовалюты. Выберите
                  наиболее удобный для вас способ.
               </div>
            </div>
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Как вывести выигрыш с Mostbet?
               </button>
               <div class="faq__answer">
                  Вывод выигрыша прост. Перейдите в раздел «Вывод» в вашем аккаунте, выберите предпочитаемый способ оплаты
                  и укажите сумму. Время обработки зависит от выбранного метода.
               </div>
            </div>
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Какие бонусы и акции предлагает Mostbet?
               </button>
               <div class="faq__answer">
                  Mostbet предлагает широкий выбор бонусов и акций, включая приветственные бонусы для новых игроков, бонусы
                  на депозит, бесплатные вращения и специальные предложения для спортивных ставок. Ознакомьтесь с разделом
                  «Акции» на сайте, чтобы узнать о текущих предложениях.
               </div>
            </div>
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Как связаться со службой поддержки Mostbet в России?
               </button>
               <div class="faq__answer">
                  Mostbet предоставляет круглосуточную поддержку клиентов через онлайн-чат (в правом нижнем углу экрана),
                  электронную почту, телефон или через приложение Telegram. Контактную информацию можно найти в разделе
                  «Поддержка» на сайте. Команда всегда готова помочь с любыми вопросами.
               </div>
            </div>
   
            <div class="faq__item">
               <button class="faq__question" aria-expanded="false">
                  <span class="faq__icon">+</span>
                  Безопасны ли мои персональные данные на Mostbet?
               </button>
               <div class="faq__answer">
                  Да, казино Mostbet серьёзно относится к защите персональных данных. Платформа использует передовые
                  технологии шифрования для защиты информации и обеспечения безопасности всех транзакций.
               </div>
            </div>
   
         </div>
      </div>
   </section>       

   <include src="@components/layout/footer/footer.html" locals='{}'></include>
</main>