<footer data-fls-footer class="footer">
	<div class="footer__container">
		<div class="footer__wrap-menu">
			<div class="footer__section footer__section--terms">
				<h3 class="footer__title">Koşul ve şartlar</h3>
				<ul class="footer__list">
					<li class="footer__item"><a href="/out/1win" class="footer__item-link">Kullanıcı sözleşmesi</a></li>
					<li class="footer__item"><a href="/out/1win" class="footer__item-link">Gizlilik politikası</a></li>
					<li class="footer__item"><a href="/out/1win" class="footer__item-link">Sorumlu oyun</a></li>
					<li class="footer__item"><a href="/out/1win" class="footer__item-link">AML/KYC politikası</a></li>
				</ul>
			</div>
			
			<div class="footer__section footer__section--info">
				<h3 class="footer__title">Bilgi</h3>
				<ul class="footer__list">
					<li class="footer__item"><a href="/out/1win" class="footer__item-link">Bonus hesabı koşulları</a></li>
					<li class="footer__item"><a href="/out/1win" class="footer__item-link">SSS</a></li>
					<li class="footer__item"><a href="/out/1win" class="footer__item-link">Gift Box</a></li>
					<li class="footer__item"><a href="/out/1win" class="footer__item-link">Ayrıcalık sistemi</a></li>
				</ul>
			</div>
			
			<div class="footer__section footer__section--casino">
				<h3 class="footer__title">Casino</h3>
				<ul class="footer__list">
					<li class="footer__item"><a href="/out/1win" class="footer__item-link">PINCO</a></li>
					<li class="footer__item"><a href="/out/1win" class="footer__item-link">Slotlar</a></li>
					<li class="footer__item"><a href="/out/1win" class="footer__item-link">Ruletler</a></li>
					<li class="footer__item"><a href="/out/1win" class="footer__item-link">Masa oyunları</a></li>
				</ul>
			</div>
			
			<div class="footer__section footer__section--support">
				<h3 class="footer__title">7/24 destek</h3>
				<a href="/out/1win" class="footer__link">
					<img src="@img/footer-icon/chat.svg" alt="Chat">
					<span>Canlı sohbet</span>
				</a>
				<a href="/out/1win" class="footer__link">
					<img src="@img/footer-icon/telegram.svg" alt="Telegram">
					<span>Telegram</span>
				</a>
			</div>
		</div>

		<div class="footer__wrap-column">
			<div class="footer__section footer__section--promo">
				<h3 class="footer__title">Bonus promosyon kodları</h3>
				<ul class="footer__list">
					<li class="footer__item"><a href="/out/1win" class="footer__item-link">Telegram sohbeti</a></li>
					<li class="footer__item"><a href="/out/1win" class="footer__item-link">Telegram kanalı</a></li>
				</ul>
			</div>

			<div class="footer__section footer__section--promo">
				<h3 class="footer__title">Sosyal medyalarımız</h3>
			</div>
		</div>
		
		<div class="footer__section footer__section--providers">
			<div class="footer__providers">
				<div class="footer__provider">
					<img src="@img/partner/partner-1.svg" alt="Evolution">
				</div>
				<div class="footer__provider">
					<img src="@img/partner/partner-2.svg" alt="Hacksaw">
				</div>
				<div class="footer__provider">
					<img src="@img/partner/partner-3.svg" alt="Amatic">
				</div>
				<div class="footer__provider">
					<img src="@img/partner/partner-4.svg" alt="Amusnet">
				</div>
				<div class="footer__provider">
					<img src="@img/partner/partner-5.svg" alt="Belatra Games">
				</div>
				<div class="footer__provider">
					<img src="@img/partner/partner-6.svg" alt="PG Soft">
				</div>
				<div class="footer__provider">
					<img src="@img/partner/partner-7.svg" alt="Pragmatic Play">
				</div>
				<div class="footer__provider">
					<img src="@img/partner/partner-8.svg" alt="Nolimit City">
				</div>
				<div class="footer__provider">
					<img src="@img/partner/partner-9.svg" alt="Greentube">
				</div>
				<div class="footer__provider">
					<img src="@img/partner/partner-10.svg" alt="Endorphina">
				</div>
			</div>
		</div>
		
		<div class="footer__section footer__section--payments">
			<div class="footer__payments">
				<div class="footer__payment">
					<img src="@img/payment/icon-1.png" alt="Icon payment">
				</div>
				<div class="footer__payment">
					<img src="@img/payment/icon-2.png" alt="Icon payment">
				</div>
				<div class="footer__payment">
					<img src="@img/payment/icon-3.png" alt="Icon payment">
				</div>
				<div class="footer__payment">
					<img src="@img/payment/icon-4.png" alt="Icon payment">
				</div>
				<div class="footer__payment">
					<img src="@img/payment/icon-5.png" alt="Icon payment">
				</div>
				<div class="footer__payment">
					<img src="@img/payment/icon-6.png" alt="Icon payment">
				</div>
				<div class="footer__payment">
					<img src="@img/payment/icon-7.png" alt="Icon payment">
				</div>
				<div class="footer__payment">
					<img src="@img/payment/icon-8.png" alt="Icon payment">
				</div>
			</div>
		</div>
		
		<div class="footer__section footer__section--apps">
			<h3 class="footer__title">Uygulamalarımız</h3>
			<div class="footer__buttons">
				<a href="/out/1win" class="footer__link">
					<img src="@img/footer-icon/apple.svg" alt="Apple">
					<div class="footer__link-wrap">
						<span>App Store’da</span>
						<span class="bold">App Store</span>
					</div>
				</a>
				<a href="/out/1win" class="footer__link">
					<img src="@img/footer-icon/android.svg" alt="Android">
					<div class="footer__link-wrap">
						<span>Android için</span>
						<span class="bold">Android</span>
					</div>
				</a>
			</div>
		</div>
		
		<div class="footer__section footer__section--legal">
			<div class="warning">
				<span>18+</span>
			</div>

			<p class="footer__text">
				The website is operated by Carlitta N.V. <br>
				Carlitta N.V. is licensed (Curacao License no 365/JAZ Sub-License GLH-OCCHKTW0708112023) and regulated by Gaming
				Services Provider N.V. Carlitta N.V.’s registration number is 162777, and its business address is Zuikertuintjeweg Z/N
				(Zuikertuin Tower), Curaçao. Mailing address: Zuikertuintjeweg Z/N (Zuikertuin Tower), Curaçao
				Liriona Ltd a company registered and established under the laws of Cyprus, with registered address Panagioti Toumazou,
				37 Episkopi, 4620, Limassol, Cyprus and physical address Kremastis Rodou 62, 4620 Episkopi, Cyprus acting as a payment
				agent of its parent company Carlitta N.V.
			</p>
		</div>
	</div>
</footer>