<footer data-fls-footer class="footer">
	<div class="footer__container">
		<div class="footer__top">
			<div class="footer__logo">
				<a href="index.html"><img src="@img/logo.png" alt="Mostbet" class="footer__logo-img"></a>
			</div>
			<ul class="footer__nav">
				<li class="footer__nav-item"><a href="#">O nas</a></li>
				<li class="footer__nav-item"><a href="#">Regulamin</a></li>
				<li class="footer__nav-item"><a href="#">Kontakt</a></li>
			</ul>
			<div class="footer__age">18+</div>
		</div>

		<div class="footer__payments">
			<img src="@img/payments/mastercard.svg" alt="Mastercard" class="footer__payment-icon">
			<img src="@img/payments/visa.svg" alt="Visa" class="footer__payment-icon">
			<img src="@img/payments/maestro.svg" alt="Maestro" class="footer__payment-icon">
			<img src="@img/payments/webmoney.svg" alt="WebMoney" class="footer__payment-icon">
			<img src="@img/payments/ecopayz.svg" alt="ecoPayz" class="footer__payment-icon">
			<img src="@img/payments/bitcoin.svg" alt="Bitcoin" class="footer__payment-icon">
		</div>

		<div class="footer__download">
			<a href="#" class="footer__download-btn">
				<span>Pobierz:</span>
				<img class="footer__icon footer__icon--android" src="@img/icons/android.svg" alt="Facebook">
				<img class="footer__icon footer__icon--apple" src="@img/icons/apple.svg" alt="Telegram">
			</a>

			<div class="footer__social">
				<a href="#"><img class="footer__social-icon footer__social-icon--facebook" src="@img/social/facebook.svg" alt="Facebook"></a>
				<a href="#"><img class="footer__social-icon footer__social-icon--telegram" src="@img/social/telegram.svg" alt="Telegram"></a>
			</div>
		</div>

		<div class="footer__partners">
			<img src="@img/partners/fifa.svg" alt="FIFA" class="footer__partner-icon">
			<img src="@img/partners/nhl.svg" alt="NHL" class="footer__partner-icon">
			<img src="@img/partners/wta.svg" alt="WTA" class="footer__partner-icon">
			<img src="@img/partners/fiba.svg" alt="FIBA" class="footer__partner-icon">
			<img src="@img/partners/atp.svg" alt="ATP" class="footer__partner-icon">
			<img src="@img/partners/uefa.svg" alt="UEFA" class="footer__partner-icon">
			<img src="@img/partners/iihf.svg" alt="IIHF" class="footer__partner-icon">
			<img src="@img/partners/nba.svg" alt="NBA" class="footer__partner-icon">
		</div>
	</div>
</footer>
