<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preload" fetchpriority="high" as="image" href="@img/slider/slider_image_1.webp" type="image/webp">
	<link rel="preload" fetchpriority="low" as="image" href="@img/slider/slider_image_2.webp" type="image/webp">
	<link rel="preload" fetchpriority="high" as="image" href="@img/slider/slider_image_3.webp" type="image/webp">
	<include src="@components/layout/head/fonts-preload.html"></include>
	<link rel="stylesheet" href="@styles/fonts/fonts.css">
	<link rel="stylesheet" href="@styles/fonts/iconfont.css">
	<script type="module" src="@components/layout/head/_head.js"></script>
	<link rel="stylesheet" href="@styles/style.scss">
	<link rel="shortcut icon" type="image/x-icon" href="@img/favicon.ico">
	<title>[[title]]</title>
</head>