<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<include src="@components/layout/head/fonts-preload.html"></include>
	<link rel="stylesheet" href="@styles/fonts/fonts.css">
	<link rel="stylesheet" href="@styles/fonts/iconfont.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script type="module" src="@components/layout/head/_head.js"></script>
	<link rel="stylesheet" href="@styles/style.scss">
	<link rel="shortcut icon" type="image/x-icon" href="@img/favicon.ico">
	<title>[[title]]</title>
</head>