<script type="module" src="@components/layout/sidebarLeft/sidebarLeft.js"></script>
<link rel="stylesheet" href="@components/layout/sidebarLeft/sidebarLeft.scss">

<aside class="sidebar">
   <nav class="sidebar__nav">
      <ul class="sidebar__list">
         <li class="sidebar__item sidebar__item--main">
            <i class="sidebar__icon sidebar__icon--home"></i>
            <a class="sidebar__link" href="#">PRINCIPAL</a>
         </li>
         <li class="sidebar__item sidebar__item--main">
            <i class="sidebar__icon sidebar__icon--star"></i>
            <a class="sidebar__link" href="#">FAVORITO</a>
         </li>
         <li class="sidebar__item sidebar__item--main">
            <i class="sidebar__icon sidebar__icon--clock"></i>
            <a class="sidebar__link" href="#">CHEGANDO</a>
         </li>

         <div class="sidebar__white" id="sidebar-sports-list"></div>
      </ul>
   </nav>
</aside>
 